---
import "../styles/global.css";
import ConnectWallet from "../components/ConnectWallet.tsx";
import BaseLayout from "../layouts/main.astro";
---

<html lang="en">
	<BaseLayout title="alpha">
		<head>
			<meta charset="utf-8" />
			<title>MetaMask with Astro + viem</title>
		</head>
		<body>
			<ConnectWallet client:load />
		</body>
	</BaseLayout>
</html>
