---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<div class="item-0"></div>
			<div class="item-1"></div>
			<div class="item-2"></div>
		</div>
		<div class="container">
			<div class="item-0"></div>
		</div>
		<slot />
	</body>
</html>
